FLASK_ENV=production
PREFERRED_URL_SCHEME=https
SESSION_COOKIE_SECURE=1
PROXY_FIX_X_PROTO=1
PROXY_FIX_X_HOST=1
ALLOWED_HOSTS=erp.cvbjasyogya.cloud
CANONICAL_HOST=erp.cvbjasyogya.cloud
CANONICAL_SCHEME=https
WEBPUSH_SUBJECT=mailto:admin@cvbjasyogya.cloud
